.fill{
  flex: 1;
  text-align: center;
}

.header-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.h4 {
  span {
    font-weight: bold;
  }
}

.material-icon{
  line-height: 1;
}