<div class="task-lists" fxLayout="row" fxLayoutGap="20px">
  <app-task-list
    *ngFor="let list of lists"
    class="list-container"
    fxFlex="0 0 360px"
    appDroppable
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    [appDraggable]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{ order: list.order }"
  >
    <app-task-header
      [header]="list.name"
      (newTask)="handleAddTask(list.id)"
      (changeListName)="handleRenameList(list)"
      (deleteList)="handleDelList(list)"
      (moveAllTasks)="handleMoveList(list.id)"
    ></app-task-header>
    <app-quick-task
      (quickTask)="handleQuickTask($event, list.id)"
    ></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      (taskClick)="handleUpdateTask(task)"
      (taskComplete)="handleCompleteTask(task)"
      [item]="task"
    ></app-task-item>
  </app-task-list>
</div>

<button
  mat-fab
  type="button"
  (click)="handleNewTaskList($event)"
  class="fab-button"
>
  <mat-icon>add</mat-icon>
</button>
