<!-- async在模板中做subscribe -->

<ng-container *ngIf="selectedTabLink$ | async as tab">
  <ng-container *ngIf="tab === 'hot'">
    <app-image-slider [sliders]="imageSliders$ | async"></app-image-slider>
    <!-- <div app-image-slider></div> -->

    <app-horizontal-grid [(username4)]="username4">
      <span appGridItem *ngFor="let item of channels$ | async">
        <img
          [src]="item.icon"
          alt=""
          appGridItemImage="2rem"
          [fitMode]="'cover'"
        />
        <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
      </span>
    </app-horizontal-grid>
  </ng-container>
</ng-container>

<div class="ad-container" *ngIf="ad$ | async as ad">
  <img [src]="ad.imageUrl" alt="" class="ad-image" />
</div>

<app-vertical-grid [itemWidth]="'20rem'" [itemHeight]="'2rem'">
  <!-- <div *ngFor="let product of products$ | async">{{ product.title }}</div> -->
  <app-product-card
    *ngFor="let product of products$ | async"
    [product]="product"
    [routerLink]="['/products', product.id]"
  >
  </app-product-card>
</app-vertical-grid>

<!-- --------------- -->

<!-- <div *ngIf="(selectedTabLink$ | async) === 'hot'; else other">
  <app-image-slider [sliders]="imageSliders$ | async"></app-image-slider>

  <app-horizontal-grid [(username4)]="username4">
    <span appGridItem *ngFor="let item of channels$ | async">
      <img
        [src]="item.icon"
        alt=""
        appGridItemImage="2rem"
        [fitMode]="'cover'"
      />
      <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
    </span>
  </app-horizontal-grid>
</div>
<ng-template #other> Others Link; </ng-template> -->

<!-- <a
  [routerLink]="['grand']"
  routerLinkActive="active"
  [queryParams]="{ name: 'zhao' }"
  >Link To Grand</a
>
<a [routerLink]="[{ outlets: { second: ['aux'] } }]">Second</a>
<router-outlet></router-outlet>
<router-outlet name="second"></router-outlet> -->
