<div class="my-module" #divModule>
  <!-- <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" />
  <img src="/assets/images/0.jpg" alt="" /> -->
  <img src="/assets/images/0.jpg" alt="" />
  <button #btnTest>按钮</button>
</div>
<div>
  <!-- <app-wx-common-comp></app-wx-common-comp> -->
  <button (click)="handleClick()" #btnTest2>按钮2</button>
  <button (click)="handleClick2()" #btnTest2>按钮2-2</button>
  <img [src]="srcUrl" alt="" />
  <br />
  <a routerLink="/chat">Route Chat</a>
</div>
